{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["plugin:react/recommended", "eslint:recommended", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "plugins": ["react", "react-hooks", "prettier"],
  "rules": {
    // "react/prop-types": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "eol-last": ["error", "always"],
    "jsx-quotes": ["error", "prefer-single"],
    "quotes": ["error", "single"],
    // "semi": ["error", "never"],
    "max-lines": ["error", 800],
    "comma-dangle": ["error", "never"],
    "no-unused-vars": "error",
    "no-process-env": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "semi": false,
        "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
        "no-unused-vars": ["error"],
        "singleQuote": true,
        "jsxSingleQuote": true,
        "endOfLine": "auto",
        "trailingComma": "none"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
